<meta charset="UTF-8">
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,700&subset=cyrillic');
</style>
<!-- Advantages start-->
<div class="_customer-adv" style="font: 15px Roboto, sans-serif!important; color: #3c3c3e; max-width: 887px;">
    <div class="_customer-adv__lst" style="display: block!important; padding: 10px 10px 10px 25px!important;">
        <div class="_customer-adv__itm" style="display: flex!important; justify-content: flex-start!important; position: relative!important; margin-bottom: 20px!important;"><img src="img/img1.png" style="display: block!important; margin-right: 25px!important; width: 54px; height: 54px!important; margin-top: 3px!important;" />
            <div class="_customer-adv__itm-cnt" style="display: grid; align-content: center;"><span class="_customer-adv__title" style="font-weight: 700; font-size: 20px; line-height: 30px;">Гарантия качества</span> <span class="_customer-adv__text" style="max-width: 887px; margin-bottom: 0!important; line-height: 15px!important; font-weight: 300; color: #333!important;">Вся наша продукция имеет сертификаты качества и соответствует требованиям ГОСТ.</span></div>
        </div>

        <div class="_customer-adv__itm" style="display: flex!important; justify-content: flex-start!important; position: relative!important; margin-bottom: 20px;"><img src="img/img2.png" style="display: block!important; margin-right: 25px!important; width: 54px; height: 54px!important; margin-top: 3px!important;" />
            <div class="_customer-adv__itm-cnt" style="display: grid; align-content: center;"><span class="_customer-adv__title" style="font-weight: 700; font-size: 20px; line-height: 30px;">Доставка в течение 24 часов</span> <span class="_customer-adv__text" style="max-width: 887px; margin-bottom: 0!important;  line-height: 15px!important; font-weight: 300; color: #333!important;">Доставляем напрямую из карьера или от производителя в любую точку. Услуга доступна при заказе от 10 т.</span></div>
        </div>

        <div class="_customer-adv__itm" style="display: flex!important; justify-content: flex-start!important; position: relative!important; margin-bottom: 10px;"><img src="img/img3.png" style="display: block!important; margin-right: 25px!important; width: 54px; height: 54px!important; margin-top: 3px!important;" />
            <div class="_customer-adv__itm-cnt" style="display: grid; align-content: center;"><span class="_customer-adv__title" style="font-weight: 700; font-size: 20px; line-height: 30px;">Точный вес</span> <span class="_customer-adv__text" style="max-width: 887px; margin-bottom: 0!important;  line-height: 15px!important; font-weight: 300; color: #333!important;">Мы привозим столько, сколько вы заказываете. Недовесы исключены! </span></div>
        </div>
    </div>
</div>
<!-- Advantages end -->
