<meta charset="UTF-8">
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:800');
    ._customer_info__wrap {
        max-width: 887px;
        background: url("img/info-bg.png") no-repeat;
        color: #ffffff;
        padding-top: 30px;
        padding-bottom: 35px;
        padding-right: 30px;
        padding-left: 46px;
        background-size: cover;
    }
    ._customer_info__title {
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-weight: 800;
        line-height: 40px;
        margin-bottom: 15px;
    }
    ._customer_info__text {
        max-width: 630px;
        font-family: 'Miriad Pro', sans-serif;
        font-size: 21px;
    }
</style>
<div class="_customer_info__wrap">
    <div class="_customer_info__title">
        Экономия от 10 000 рублей!
    </div>
    <div class="_customer_info__text">
        При оплате от 1000 т продукции вы получаете скидку в размере 10 руб на каждую тонну!
    </div>
</div>
